<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Memories </title>
    <link rel="stylesheet" href="../static/memo.css" type="text/css" />
  </head>
  <body>
    <header>
      <button id="dark_light_mode" class="dark_light_mode" modeColor="dark">
        <img src="../static/images/sleep-mode.png" alt="moon" />
      </button>
    </header>
    <section>
      <h1>Memories</h1>
      <textarea id="dynamicTextArea" placeholder="Start writing..."></textarea>
      <button id="submitSave">Save</button>
    </section>
    <section id="all_memory" class="all_memory"></section>
    <script src="../static/memory.js"></script>
  </body>
</html>